[project]
name = "ratekeeper"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "dotenv>=0.9.9",
    "requests>=2.32.5",
]

[dependency-groups]
dev = [
    "nuitka>=2.8.9",
    "pyinstaller>=6.17.0",
]
